<div class="container">
  <button class="novo-todo mat-elevation-z8" mat-stroked-button color="primary">
    Novo To-Do
  </button>
  <div class="content" *ngFor="let todo of list">
  <mat-card class="mat-elevation-z8">
    <p>{{todo.dataParaFinalizar}}</p>
    <mat-card-header>
      <mat-card-title>{{todo.titulo}}</mat-card-title>
      <mat-card-subtitle>{{todo.descricao}}</mat-card-subtitle>
    </mat-card-header>
    <div class="actions">
      <button mat-mini-fab color="primary">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-mini-fab color="accent">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
</div>
